html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom right, #482778, #8A2666, #E82452);
  color: #fff;
  font-size: 20px;
}

#__next {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

main {
  padding: 20px;
}

header {
  min-height: 80px;
}
footer {
  min-height: 20px;
}

header {
  //background: linear-gradient(to top right, #607d8b, #78909c, #263238);
  background-image: linear-gradient(
                  to top right,
                  rgba(0, 0, 0, 0.01),
                  rgba(0, 0, 0, 0.20),
                  rgba(0, 0, 0, 0.9));
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #01579b;
}

footer {
  background-image: linear-gradient(
                  to bottom right,
                  rgba(0, 0, 0, 0.01),
                  rgba(0, 0, 0, 0.20),
                  rgba(0, 0, 0, 0.9)
  );
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: end;
  align-items: center;
  text-transform: uppercase;
  padding-right: 20px;
}